*  {
	box-sizing: border-box;
}

body {

}

#KyivRegion {
	cursor: pointer;
}

#fullMap {
display: flex;
flex-wrap: wrap;
}

/* #someImg {
	position: absolute;
	top: 170px;
	left: 400px;
	opacity: 0.5;
	z-index: 1;
} */

@media (max-width: 480px) {
	#fullMap {
	/* width: 100%; */
	/* transform: scale(0.5); */
	}
  }
  