*  {
	box-sizing: border-box;
}

#KyivRegion {
	cursor: pointer;
}

#fullMap {

}

/* #someImg {
	position: absolute;
	top: 170px;
	left: 400px;
	opacity: 0.5;
	z-index: 1;
} */

@media (max-width: 480px) {
	#fullMap {
		transform: scale(0.5);
		
		}
  }
  